useDynLib(SQLiteDF)
export(sqlite.data.frame, lsSdf, getSdf,attachSdf,detachSdf, sdflm)
export(dupSdf,renameSdf, inameSdf)
export(sdfImportDBI, sdfImportSQLite)

export(rbind, sort, eval) 
export(quantile.default, median)

importFrom(stats, quantile.default)

S3method(rbind, default)
S3method(sort, default)

S3method(names, sqlite.data.frame)
S3method(length, sqlite.data.frame)
S3method(dim, sqlite.data.frame)
S3method(dimnames, sqlite.data.frame)
S3method("$", sqlite.data.frame)
S3method("[[", sqlite.data.frame)
S3method("[", sqlite.data.frame)
S3method(as.list, sqlite.data.frame)
S3method(is.list, sqlite.data.frame)
S3method(rbind, sqlite.data.frame)
S3method(with, sqlite.data.frame)
S3method(as.data.frame, sqlite.data.frame)

S3method("[", sqlite.vector)
S3method(length, sqlite.vector)
S3method(as.double, sqlite.vector)
S3method(as.character, sqlite.vector)
S3method(as.logical, sqlite.vector)
S3method(as.integer, sqlite.vector)
S3method(Math, sqlite.vector)
S3method(Summary, sqlite.vector)
S3method(Ops, sqlite.vector)
S3method(sort, sqlite.vector)
