useDynLib(SQLiteDF)
export(sqlite.data.frame, lsSdf, getSdf,attachSdf,detachSdf, sdflm)
export(dupSdf,renameSdf, inameSdf, rbindSdf)
export(sdfImportDBI, sdfImportSQLite)
export(sqlite.matrix)

export(sort, eval) 
export(quantile.default, median)
export(typeSvec, has.typeSvec)

importFrom(stats, quantile.default)
importFrom(utils, head, tail)

S3method(sort, default)

S3method(names, sqlite.data.frame)
S3method(length, sqlite.data.frame)
S3method(row.names, sqlite.data.frame)
S3method(dim, sqlite.data.frame)
S3method(dimnames, sqlite.data.frame)
S3method("$", sqlite.data.frame)
S3method("[[", sqlite.data.frame)
S3method("[", sqlite.data.frame)
S3method(as.list, sqlite.data.frame)
S3method(is.list, sqlite.data.frame)
S3method(with, sqlite.data.frame)
S3method(as.data.frame, sqlite.data.frame)
#S3method(as.matrix, sqlite.data.frame)
S3method(head, sqlite.data.frame)
S3method(tail, sqlite.data.frame)

S3method("[", sqlite.vector)
S3method(length, sqlite.vector)
S3method(as.double, sqlite.vector)
S3method(as.character, sqlite.vector)
S3method(as.logical, sqlite.vector)
S3method(as.integer, sqlite.vector)
S3method(Math, sqlite.vector)
S3method(Summary, sqlite.vector)
S3method(Ops, sqlite.vector)
S3method(sort, sqlite.vector)
#S3method(is.numeric, sqlite.vector)
#S3method(is.character, sqlite.vector)
#S3method(is.integer, sqlite.vector)
S3method(summary, sqlite.vector)

#S3method(length, sqlite.matrix)
#S3method(dim, sqlite.matrix)
