export(data.restore, dbf.read, dbf.write, lookup.xport, read.dta,
       read.epiinfo, read.mtp, read.S, read.spss, read.ssd,
       read.systat, read.xport, write.dta, write.foreign)

# not exported: SModeNames writeForeignStata writeForeignSPSS
